.img-carrousel{
    position: relative;
}

.col-1 img{
    width: 100%;
} 

.btn{
    position: absolute;
    bottom: 4px;
    right:0 ;
    
    
}

.btn button {
    padding: 15px;
    color: var(--bg);
    background-color: var(--title);
    border: none;
    
}

.btn button svg {
    font-size: 25px;
}
.content{
    display: flex;  
    flex-direction: column;
    gap: 20px;
    padding:40px;
}    
.content p{
    padding-right: 40px;
   line-height: 1.4; 
   color: var(--text);
   font-weight: 600;
} 

.shop-arrow{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.shop{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--title);
    letter-spacing: 9px;
    font-weight: 700;
}

.shop:hover {
    color: var(--text);
    transition: .4s ease;
}

